.slider{
    /* background-image: url('../img/slider1.jpg'); */
    width: 100%;
    text-align: center;
    /* background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #636363; */
    background-attachment: fixed;
}