.slider{
    background-color: var(--color-blue);
    width: 100%;
    height: 85vh;
    text-align: center;
    background-attachment: fixed;
} 

.slider .left{
    padding-top: 27%;
} 

.slider .left h1{
    color: white;
    font-weight: bold;
    font-size: 39px;
} 

.slider .left p{
    color: white;
    font-size: 15px;
} 

.slider .right img{
    width: 100%;
    height: auto;
} 



/* menu desktop and mobile switching on responsive  */

@media only screen and (max-width: 768px) {
    
    .slider{
        height: 55vh;
        padding-top: 10%;
    }

    .slider .left{
        padding-top: 15%;
    }

    .slider .left h1{
        font-size: 35px;
    }
    
}

@media only screen and (max-width: 600px) {

    .slider .right img{
        display: none;
    }
}