.slider{
    background-color: var(--color-blue);
    width: 100%;
    height: 80vh;
    text-align: center;
    background-attachment: fixed;
} 

.slider .left{
    padding-top: 27%;
} 

.slider .left h1{
    color: white;
    font-weight: bold;
    font-size: 39px;
} 

.slider .left p{
    color: white;
    font-size: 15px;
} 

.slider .left input{
    
} 

.slider .right{
    
} 

.slider .right img{
    width: 100%;
    height: auto;
} 